
<div class="bg-secondary text-white" bgcolor="#3495AO">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1 style="text-align:center" class="h1 mt-5 mb-5">Employee Management System</h1>
     <div class="text-center mb-3">
      <a class="btn btn-info mr-5 mb-5" [routerLinkActive]="['active']" routerLink="employees">Employee List</a>
      <a class="btn btn-info text-white ml-5 mb-5" [routerLinkActive]="['active']" routerLink="add-employee">Add Employee</a>
     </div>
    </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>
